---
import '../assets/styles/tailwind.css';

import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { headerData, footerData } from '~/navigation';
import { I18N, SITE } from '~/theme-config';
import { getCanonical } from '~/utils/permalinks';

const { title, seo = null, siteSetting = null } = Astro.props;
const pageTitle = title ?? siteSetting?.siteName ?? SITE.name;
const pageDescription = seo?.metaDescription ?? siteSetting?.siteDescription ?? null;
const canonical = seo?.canonicalUrl ?? String(getCanonical(String(Astro.url.pathname)));
const googleAnalyticsId = 'G-44Q9S4ZPHC';
---

<!doctype html>
<html lang={I18N.language} dir={I18N.textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    {pageDescription && <meta name="description" content={pageDescription} />}
    {canonical && <link rel="canonical" href={canonical} />}
    {seo?.noIndex && <meta name="robots" content="noindex,nofollow" />}
    <Favicons />
    <CustomStyles />
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`}></script>
    <script is:inline define:vars={{ googleAnalyticsId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      window.gtag = window.gtag || gtag;

      window.gtag('js', new Date());
      window.gtag('config', googleAnalyticsId);

      document.addEventListener('astro:after-swap', () => {
        window.gtag?.('config', googleAnalyticsId, {
          page_path: window.location.pathname + window.location.search,
          page_title: document.title,
          page_location: window.location.href,
        });
      });
    </script>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <Announcement />
    <Header {...headerData} isSticky />
    <main>
      <slot />
    </main>
    <Footer {...footerData} />
    <BasicScripts />
  </body>
</html>


